
h1 {
    font-family: oswald;
    font-size: 80px;
    background-color: crimson;
    text-align: center;
    color: whitesmoke;
}

form {
    font-family: oswald;
    font-size: 30px;
}


div textarea {
    font-family: open sans condensed;
    font-size: 20px;
}

.button  {
    text-align: center;
    
    margin: 0 auto;
    font-family:oswald;
    border-radius: 40%;
}
button {
    border-radius: 40%;
    font-size: 30px;
}
