
h1 {
    font-family: oswald;
    font-size: 80px;
    background-color: crimson;
    text-align: center;
    color: whitesmoke;
}
.inform {
    background-color: lightgray;
}

.info {
    font-size: 25px;
    font-family: oswald;
}

.col-3 {
   justify-items: center;
}

.posts {
    
    padding: 20px;
    margin: 20px;
    font-family: open sans condensed;
    font-size: 25px;
}

h3{
    font-family:oswald;
    font-size: 20px;
}

.card-body a {
    font-size: 25px;
    font-family: oswald;
}

.button {
    text-align: center;
    font-family: Oswald; 
    font-size: 30px;
    margin: 0 auto;
}

.button a {
    font-size: 30px;
    border-radius: 40%;
}

