<!--MAQUETAR Y COMPLETAR ESTE Y EL CSS -->


<header>
    <div class="row">
        <div class="col-12">
            <h1>THE INTUITIVE BLOG</h1>
        </div>
    </div>

</header>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 inform">
                <div class="info">
                    Bienvenid@ a "The Intuitive Blog", el blog donde encontrarás todo tipo de actualizaciones de las
                    profesiones tecnológicas más demandadas del momento. Despliega el menú y conoce todos los secretos
                    de la
                    tecnología!
                </div>
                <div class="row">
                    <div class="col-12">

                        <select class="form-control" (change)="onChange($event)">
                            <option value="selecciona">Filtrar por categoría</option>
                            <option value="cibersecurity">Cibersecurity</option>
                            <option value="developers">Full Stack Development</option>
                            <option value="datascience">Data Science</option>
                            <option value="cloud">Cloud Architecture</option>
                            <option value="ux">UX Design</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="posts row">
                    <div class="card mb-6 shadow-sm col-12 col-lg-4" *ngFor="let post of posts"
                        [routerLink]="['/blog', post.id]">

                        <img class="card-img-top" [src]="post.imagen" alt="">
                        <div class="card-body">
                            <h3 class="card-title">{{post.titulo}}</h3>
                            <p>{{post.fecha}}</p>
                            <p>{{post.autor}}</p>
                            <a class="btn btn-warning">Leer más</a>
                        </div>

                    </div>

                </div>
            </div>

        </div>



        <footer class="bg-light container-fluid py-3 static-bottom">
            <div class="row">
                <div class="col-12 button">
                    <div>
                        <a href="http://localhost:4200/new" class="btn btn-warning btn-lg">Crear un nuevo post</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>