<header>
    <div class="row">
        <div class="col-12">
            <h1>THE INTUITIVE BLOG</h1>
        </div>
    </div>

</header>

<div class="container">
    <div class="row titulo">
        <div class="col-12">
            <h2>{{post?.titulo}}</h2>
        </div>
    </div>


    <div class="row cuerpo">
        <div class="col-12 col-lg-4">
            <img [src]="post?.imagen" alt="">
        </div>
        <div class="col-12 col-lg-8 texto">
            <p>{{post?.texto}}</p>
        </div>
    </div>

    <div class="row pie">
        <div class="col-4 col-lg-4">
            <p> Autor: <p>{{post?.autor}} </p>
        </div>
        <div class="col-4 col-lg-4">
            <p> Fecha: <p>{{post?.fecha}} </p>
        </div>
        <div class="col-4 col-lg-4">
            <p> Categoría: <p> {{post?.categoria}} </p>
        </div>
    </div>
</div>

<footer class="bg-light container-fluid py-3 static-bottom">
    <div class="row">
        <div class="col-12 button">
            <div>
                <a href="http://localhost:4200/blog" class="btn btn-warning btn-lg">Volver a la página principal</a>
            </div>
        </div>
    </div>
</footer>